<div class='snack-details'>
  <h2> <%= @snack.name %> </h2>

  <ul>
    <li>UPC: <%= @snack.upc %></li>
    <li>Serving: <%= @snack.serving %></li>
    <li>Energy: <%= @snack.energy %> kcal</li>
    <li>Protein: <%= @snack.protein %> g</li>
    <li>Fats: <%= @snack.fat %> g</li>
    <li>Carbohydrates: <%= @snack.carbohydrates %> g</li>
  </ul>

</div>
